* {
  box-sizing: border-box;
  background-color: black;
  color: grey;
  line-height: 1.5;
}

body {

  font-family: Arial;
  margin: 0;
}

header {
  display: flex;
  width: 100%;
  /* background-color: darkblue; */
  justify-content: space-between;
  padding: 5px 5px;
  align-items: center;
  border-bottom: solid grey 5px;
}

/* set the size of photo */
.portrait {
  width: 200px;
  height: 200px;
}

.caption {
  font-weight: bolder;
  font-size: 2rem;
}

h1 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  margin: 0px 10px 0px 10px;
}

a:hover {
  color: beige;
}

.menuBar {
  display: flex;
  column-gap: 10px;
}

ul li {
  list-style-type: none;
  flex-wrap: wrap;
}

/* main {
  display: flex;
} */

#aboutMe {
  display: flex;
}

#aboutMeTitle {
  flex: 1;
  margin: 0px 0px 0px 165px;
  text-align: right;
  width: 10%;
}

#aboutMeDesc {
  padding: 10px 140px 10px 10px;
  margin: 0px 10px;
  border-left: solid grey 5px;
  text-align: justify;
  display: inline;
  width: 90%;
}

#myWork {
  display: flex;
}

#myWorkTitle {
  flex: 1;
  margin: 20px 0px 0px 174px;
  text-align: right;
  width: 10%;
}

#agileDevOpsImage {
  padding: 0px;
  margin: 20px 0px 0px 10px;
  border-left: solid grey 5px;
  text-align: justify;
  display: inline;
  width: 90%;
}