* {
  box-sizing: border-box;
  background-color: black;
  color: grey;
  line-height: 1.5;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px 5px;
  align-items: center;
  border-bottom: solid grey 5px;
}

/* set the size of photo */
.portrait {
  width: 200px;
  height: 200px;
}

.caption {
  font-weight: bolder;
  font-size: 2rem;
}

h1 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  margin: 0px 10px 0px 10px;
}

a:hover {
  color: beige;
}

#menuBar,
#footer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  margin: 16px 150px 16px 0px;
}

ul li {
  list-style-type: none;
  flex-wrap: wrap;
}

#aboutMe {
  display: flex;
}

#aboutMeTitle {
  margin: 10px 0px 0px 0px;
  /* text-align: right; */
  /* width: 70px; */
}

#aboutMeDesc {
  padding: 10px 35px 0px 10px;
  margin: 0px 20px 5px 175px;
  border-left: solid grey 5px;
  text-align: justify;
}

#myWork {
  /* display: flex; */
  display: inline;
}

#myWorkTitle {
  display: flex;
  margin: 10px 0px 0px 0px;
}



#contactMe {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px 10px 10px;
}

#contactMeTitle {
  margin: 10px 0px;
  padding: 0px 50px 10px 0px;
}

/* #myWorkTitle {
  flex: 1;
  margin: 20px 0px 0px 0px;
  text-align: right;
} */

#agileDevOpsImage {
  display: block;
  margin: 0px 0px 0px 245px;
  border-left: solid grey 5px;
  padding: 0px 0px 0px 10px;
}

.agileFSDImage {
  display: block;
  margin: 0px 0px 0px 10px;
  align-items: flex-start;

}

#fsd {
  margin: 20px 40px 0px 235px;
  border-left: solid grey 5px;
  padding: 0px 0px 0px 10px;
}

#ds {
  margin: 0px 0px 0px 34px;
  border-left: solid grey 5px;
  padding: 0px 0px 0px 10px;
}

#aws {
  margin: 20px 40px 0px 235px;
  border-left: solid grey 5px;
  padding: 0px 0px 0px 10px;
}

#azure {
  margin: 0px 0px 0px 34px;
  border-left: solid grey 5px;
  padding: 0px 0px 0px 10px;
}

/* @media screen and (max-width: 1200px) {
  img src: "./assets/images/AgileDevOps1200px.png";
}

@media screen and (max-width: 992px) {
  #agileDevOpsImage "./assets/images/AgileDevOps992px.png";
}

/* Large smartphones - navbar changes color */
/* @media screen and (min-width: 768px) {
  #aws {
    margin: 0px;
  }

  #agileDevOpsImage {
    display: block;
    margin: 0px;
    border-left: solid grey 5px;
    padding: 0px 0px 0px 10px;
  }
} */

/* Small smartphones - image placeholders change color */
/* @media screen and (max-width: 576px) {
  .sample-img {}
} */