* {
  box-sizing: border-box;
  background-color: black;
  color: grey;
  line-height: 1.5;
}

body {

  font-family: Arial;
  margin: 0;
}

header {
  display: flex;
  width: 100%;
  /* background-color: darkblue; */
  justify-content: space-between;
  padding: 5px 5px;
  align-items: center;
  border-bottom: solid grey 5px;
}

/* set the size of photo */
.portrait {
  width: 200px;
  height: 200px;
}

.caption {
  font-weight: bolder;
  font-size: 2rem;
}

h1 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

a:hover {
  color: beige;
}

.menuBar {
  display: flex;
  column-gap: 10px;
}

ul li {
  list-style-type: none;
}

main {
  display: flex;
}

.aboutMe {
  display: flex;
}

.aboutMeTitle {
  flex: 1;
  margin: 10px;
  text-align: right;
}

.aboutMeDesc {
  padding: 0px 20px;
  margin: 0px 0px 0px 200px;
  border-left: solid grey 5px;
  text-align: justify;
  display: inline;
}